In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"D:\Information Technology\IMDB 100+ years data\imdb_100+_years_dataset.csv")
print(df.head())

          id                            title  year duration MPA  rating  \
0  tt0073195                             Jaws  1975    2h 4m  PG     8.1
1  tt0073629    The Rocky Horror Picture Show  1975   1h 40m   R     7.4
2  tt0073486  One Flew Over the Cuckoo's Nest  1975   2h 13m   R     8.7
3  tt0072890                Dog Day Afternoon  1975    2h 5m   R     8.0
4  tt0073692                          Shampoo  1975   1h 50m   R     6.4

  votes  meta_score                                        description  \
0  690K        87.0  When a massive killer shark unleashes chaos on...
1  174K        65.0  A newly-engaged couple have a breakdown in an ...
2  1.1M        84.0  In the Fall of 1963, a Korean War veteran and ...
3  281K        86.0  Three amateur robbers plan to hold up a Brookl...
4   15K        65.0  On Election Day, 1968, irresponsible hairdress...

                             Movie_Link  ... opening_weekend_gross  \
0  https://www.imdb.com/title/tt0073195  ...            $7,061,513
1  https://www.imdb.com/title/tt0073629  ...                   NaN
2  https://www.imdb.com/title/tt0073486  ...                   NaN
3  https://www.imdb.com/title/tt0072890  ...                   NaN
4  https://www.imdb.com/title/tt0073692  ...                   NaN

  gross_worldwide gross_us_canada release_date  \
0    $477,916,625    $267,263,625       1975.0
1    $115,827,018    $112,892,319       1975.0
2    $109,115,366    $108,981,275       1975.0
3     $50,004,527     $50,000,000       1975.0
4     $49,407,734     $49,407,734       1975.0

                      countries_origin  \
0                    ['United States']
1  ['United Kingdom', 'United States']
2                    ['United States']
3                    ['United States']
4                    ['United States']

                                   filming_locations  \
0  ["Water Street, Edgartown, Martha's Vineyard, ...
1  ["Oakley Court, Windsor Road, Oakley Green, Wi...
2  ['Oregon State Mental Hospital - 2600 Center S...
3  ['285 Prospect Park West, Brooklyn, New York C...
4  ["2270 Bowmont Drive, Beverly Hills, Californi...

                                production_companies  \
0  ['Zanuck/Brown Productions', 'Universal Pictur...
1  ['Twentieth Century Fox', 'Michael White Produ...
2                   ['Fantasy Films', 'N.V. Zvaluw']
3  ['Warner Bros.', 'Artists Entertainment Complex']
4  ['Persky-Bright / Vista', 'Columbia Pictures',...

                                 awards_content  \
0  Won 3 Oscars, 16 wins & 20 nominations total
1          Awards, 3 wins & 4 nominations total
2  Won 5 Oscars, 38 wins & 15 nominations total
3   Won 1 Oscar, 14 wins & 20 nominations total
4    Won 1 Oscar, 3 wins & 11 nominations total

                                              genres    languages
0  ['Monster Horror', 'Sea Adventure', 'Survival'...  ['English']
1  ['B-Horror', 'Dark Comedy', 'Parody', 'Raunchy...  ['English']
2  ['Medical Drama', 'Psychological Drama', 'Drama']  ['English']
3  ['Dark Comedy', 'Heist', 'True Crime', 'Biogra...  ['English']
4                      ['Satire', 'Comedy', 'Drama']  ['English']

[5 rows x 24 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63249 entries, 0 to 63248
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     63249 non-null  object
 1   title                  63249 non-null  object
 2   year                   63249 non-null  int64
 3   duration               61174 non-null  object
 4   MPA                    41227 non-null  object
 5   rating                 59181 non-null  float64
 6   votes                  59181 non-null  object
 7   meta_score             15533 non-null  float64
 8   description            60889 non-null  object
 9   Movie_Link             63249 non-null  object
 10  writers                62980 non-null  object
 11  directors              63198 non-null  object
 12  stars                  62905 non-null  object
 13  budget                 15359 non-null  object
 14  opening_weekend_gross  16837 non-null  object
 15  gross_worldwide        20722 non-null  object
 16  gross_us_canada        19544 non-null  object
 17  release_date           54849 non-null  float64
 18  countries_origin       63150 non-null  object
 19  filming_locations      46395 non-null  object
 20  production_companies   61276 non-null  object
 21  awards_content         27068 non-null  object
 22  genres                 62462 non-null  object
 23  languages              62919 non-null  object
dtypes: float64(3), int64(1), object(20)
memory usage: 11.6+ MB

In [17]:
df.columns

Index(['id', 'title', 'year', 'duration', 'MPA', 'rating', 'votes',
       'meta_score', 'description', 'Movie_Link', 'writers', 'directors',
       'stars', 'budget', 'opening_weekend_gross', 'gross_worldwide',
       'gross_us_canada', 'release_date', 'countries_origin',
       'filming_locations', 'production_companies', 'awards_content', 'genres',
       'languages'],
      dtype='object')

In [19]:
df.isnull().sum()

id                           0
title                        0
year                         0
duration                  2075
MPA                      22022
rating                    4068
votes                     4068
meta_score               47716
description               2360
Movie_Link                   0
writers                    269
directors                   51
stars                      344
budget                   47890
opening_weekend_gross    46412
gross_worldwide          42527
gross_us_canada          43705
release_date              8400
countries_origin            99
filming_locations        16854
production_companies      1973
awards_content           36181
genres                     787
languages                  330
dtype: int64

In [21]:
# Drop highly missing or irrelevant columns (example)
df.drop(columns=['Movie_Link', 'awards_content'], inplace=True)

In [25]:
# Example fill for numerical columns
df['rating'] = df['rating'].fillna(df['rating'].median())
df['votes'] = df['votes'].fillna(0)

In [35]:
# Example fill for categorical
df['MPA'] = df['MPA'].fillna("Not Rated")

In [37]:
df.isnull().sum()

id                           0
title                        0
year                         0
duration                  2075
MPA                          0
rating                       0
votes                        0
meta_score               47716
description               2360
writers                    269
directors                   51
stars                      344
budget                   47890
opening_weekend_gross    46412
gross_worldwide          42527
gross_us_canada          43705
release_date              8400
countries_origin            99
filming_locations        16854
production_companies      1973
genres                     787
languages                  330
dtype: int64

In [39]:
# Drop rows with missing genres
df.dropna(subset=['genres'], inplace=True)

In [45]:
import re

# Custom parser function
def parse_duration(x):
    if pd.isna(x):
        return np.nan
    x = str(x).strip().lower()
    
    # Match patterns like '2h 10m', '1h', '45m'
    match = re.match(r'(?:(\d+)\s*h)?\s*(?:(\d+)\s*m)?', x)
    if not match:
        return np.nan

    hours = int(match.group(1)) if match.group(1) else 0
    minutes = int(match.group(2)) if match.group(2) else 0
    return hours * 60 + minutes

# Apply conversion
df['duration'] = df['duration'].apply(parse_duration)

In [47]:
df['duration'].describe()
df['duration'].isnull().sum()
df['duration'].dtype

dtype('float64')

In [49]:
df['duration'].isnull().sum()

1614

In [51]:
df['duration'].describe()

count    60848.000000
mean        95.724494
std         36.475582
min          0.000000
25%         82.000000
50%         93.000000
75%        105.000000
max       5220.000000
Name: duration, dtype: float64